# IMDb Analysis

#### In this assignment, you will work on movie data from IMDB.
- The data includes movies and ratings from the IMDB website
- Data File(s): imdb.xlsx

#### Data file contains 3 sheets:
- “imdb”: contains records of movies and ratings scraped from IMDB website
- “countries”: contains the country (of origin) names
- “directors”: contains the director names

# Load, Inspect, & Query Movie & Ratings Data

In [218]:
""" Q1: 
Load and read the 'imdb.xlsx' file. Read the 'imdb' sheet into a DataFrame, df.
"""

import pandas as pd

# your code here

xls = pd.ExcelFile('imdb.xlsx')

df = xls.parse('imdb')

In [219]:
""" Q2: 
Store the dimensions of the DataFrame as a tuple in a variable called 'shape' and print it.

Hint: A tuple is made up of comma separated values inside parenthesis.  e.g. (1, 2)
"""

# your code here
shape = df.shape
print(shape)

(178, 8)

In [220]:
""" Q3: 
Store the column titles and the types of data in variables named 'columns' and 'dtypes', then print them.
"""

# your code here
columns = df.columns
dtypes = df.dtypes

print(columns)
print(dtypes)

Index(['movie_title', 'director_id', 'country_id', 'content_rating',
       'title_year', 'imdb_score', 'gross', 'duration'],
      dtype='object')
movie_title        object
director_id         int64
country_id          int64
content_rating     object
title_year          int64
imdb_score        float64
gross               int64
duration            int64
dtype: object

In [221]:
""" Q4: 
Examine the first 10 rows of data; store them in a variable called first10
"""

# your code here

first10 = df.head(10)
print(first10)

                                      movie_title  director_id  country_id  \
0                       The Shawshank RedemptionÊ           34           1
1                                  The GodfatherÊ           33           1
2                                The Dark KnightÊ           16           1
3                         The Godfather: Part IIÊ           33           1
4  The Lord of the Rings: The Return of the KingÊ           83           1
5                                   Pulp FictionÊ           85           1
6                 The Good, the Bad and the UglyÊ           98           2
7                               Schindler's ListÊ          103           1
8                                      InceptionÊ           16           1
9                                     Fight ClubÊ           22           1

  content_rating  title_year  imdb_score      gross  duration
0              R        1994         9.3   28341469       142
1              R        1972         9.2  134821952       175
2          PG-13        2008         9.0  533316061       152
3              R        1974         9.0   57300000       220
4          PG-13        2003         8.9  377019252       192
5              R        1994         8.9  107930000       178
6       Approved        1966         8.9    6100000       142
7              R        1993         8.9   96067179       185
8          PG-13        2010         8.8  292568851       148
9              R        1999         8.8   37023395       151

In [222]:
""" Q5: 
Examine the first 5 rows of data; store them in a variable called first5
"""

# your code here

# Storing the first 5 rows 
first5 = df.head(5)

# Examining the first 5 rows 
print(first5)

                                      movie_title  director_id  country_id  \
0                       The Shawshank RedemptionÊ           34           1
1                                  The GodfatherÊ           33           1
2                                The Dark KnightÊ           16           1
3                         The Godfather: Part IIÊ           33           1
4  The Lord of the Rings: The Return of the KingÊ           83           1

  content_rating  title_year  imdb_score      gross  duration
0              R        1994         9.3   28341469       142
1              R        1972         9.2  134821952       175
2          PG-13        2008         9.0  533316061       152
3              R        1974         9.0   57300000       220
4          PG-13        2003         8.9  377019252       192

In [223]:
""" Q6: 
Import the "directors" and "countries" sheets into their own DataFrames, df_directors and df_countries.
"""

# your code here
df_directors = xls.parse('directors')
df_countries = xls.parse('countries')

In [224]:
""" Q7: 
Check the "directors" sheet
1. Count how many records there are based on the "id" column. (To get the number of records per "id", 
   use the value_counts method.) Store the result in a variable named count.
2. Remove the duplicates from the directors dataframe and store the result in a variable called df_directors_clean.
"""

# your code here
count = df_directors['id'].value_counts()


df_directors_clean = df_directors.drop_duplicates()

# Join & Filter Movie & Ratings Data

In [225]:
""" Q1: 
Join three Dataframes: df, df_directors_clean, and df_countries with an inner join.
Store the joined DataFrames in df.
"""

# your code here

dfpre = pd.merge(left = df, right = df_countries, how = 'inner', left_on = 'country_id',
                right_on = 'id')


df = pd.merge(left = dfpre, right = df_directors_clean, how = 'inner', left_on = 'director_id', 
              right_on = 'id')

# After the join, the resulting Dataframe should have 12 columns.
df.shape

(178, 12)

In [226]:
""" Q2: 
Save the first ten rows of movie titles in a variable called first10, then print it
"""

# your code here
first10 = df.head(10)
print(first10)

                 movie_title  director_id  country_id content_rating  \
0  The Shawshank RedemptionÊ           34           1              R
1            The Green MileÊ           34           1              R
2             The GodfatherÊ           33           1              R
3    The Godfather: Part IIÊ           33           1              R
4            Apocalypse NowÊ           33           1              R
5           The Dark KnightÊ           16           1          PG-13
6                 InceptionÊ           16           1          PG-13
7              InterstellarÊ           16           1          PG-13
8                   MementoÊ           16           1              R
9              The PrestigeÊ           16           1          PG-13

   title_year  imdb_score      gross  duration  id_x country  id_y  \
0        1994         9.3   28341469       142     1     USA    34
1        1999         8.5  136801374       189     1     USA    34
2        1972         9.2  134821952       175     1     USA    33
3        1974         9.0   57300000       220     1     USA    33
4        1979         8.5   78800000       289     1     USA    33
5        2008         9.0  533316061       152     1     USA    16
6        2010         8.8  292568851       148     1     USA    16
7        2014         8.6  187991439       169     1     USA    16
8        2000         8.5   25530884       113     1     USA    16
9        2006         8.5   53082743       130     1     USA    16

          director_name
0        Frank Darabont
1        Frank Darabont
2  Francis Ford Coppola
3  Francis Ford Coppola
4  Francis Ford Coppola
5     Christopher Nolan
6     Christopher Nolan
7     Christopher Nolan
8     Christopher Nolan
9     Christopher Nolan

In [227]:
""" Q3: 
There's an extra character at the end of each movie title. 
Remove it from the data using str.replace.
And print the first ten rows of movie titles again. 
"""

# your code here

x = df['movie_title'].str.replace('Ê','')
df['movie_title'] = x
df.head(10)

,movie_title,director_id,country_id,content_rating,title_year,imdb_score,gross,duration,id_x,country,id_y,director_name
0,The Shawshank Redemption,34,1,R,1994,9.3,28341469,142,1,USA,34,Frank Darabont
1,The Green Mile,34,1,R,1999,8.5,136801374,189,1,USA,34,Frank Darabont
2,The Godfather,33,1,R,1972,9.2,134821952,175,1,USA,33,Francis Ford Coppola
3,The Godfather: Part II,33,1,R,1974,9.0,57300000,220,1,USA,33,Francis Ford Coppola
4,Apocalypse Now,33,1,R,1979,8.5,78800000,289,1,USA,33,Francis Ford Coppola
5,The Dark Knight,16,1,PG-13,2008,9.0,533316061,152,1,USA,16,Christopher Nolan
6,Inception,16,1,PG-13,2010,8.8,292568851,148,1,USA,16,Christopher Nolan
7,Interstellar,16,1,PG-13,2014,8.6,187991439,169,1,USA,16,Christopher Nolan
8,Memento,16,1,R,2000,8.5,25530884,113,1,USA,16,Christopher Nolan
9,The Prestige,16,1,PG-13,2006,8.5,53082743,130,1,USA,16,Christopher Nolan

In [229]:
""" Q4:
Who is the director with the most movies? First get the number of movies per "director_name", then 
extract the direct with the highest count and save in a variable called "director_with_most".
"""
# your code here
values = df['director_name'].unique()

results = []

for i in values:
    y = df['director_name'] == i 
    x = sum(y)
    z = (x, i)
    results.append(z)

most = max(results)
director_with_most = most[1]
print(director_with_most)

Christopher Nolan

In [230]:
"""Q5:
Save all of this director's movies and their ratings in a variable called all_movies_ratings, then print this variable.
(The director with the most movies you got from the last question.)
"""

# your code here

index = df['director_name'] == director_with_most

all_movie = df[index]
all_movie_ratings = all_movie[['movie_title', 'content_rating','imdb_score']]
print(all_movie_ratings)

              movie_title content_rating  imdb_score
5         The Dark Knight          PG-13         9.0
6               Inception          PG-13         8.8
7            Interstellar          PG-13         8.6
8                 Memento              R         8.5
9            The Prestige          PG-13         8.5
10  The Dark Knight Rises          PG-13         8.5
11          Batman Begins          PG-13         8.3

In [231]:
"""Q6:
Recommend a **random** movie that has a rating of over 8.3. 
What is the title and imdb_score of your recommendation?

Name your variables as follows:
-----------------------------------------------------------------------------
  goodmovie       <- Those movies with a rating over 8.3
  rand_int        <- The random integer index location of your recommendation
  rand_goodmovie  <- The random recommendation
"""

# Do not modify this part, it's needed for grading
import random
random.seed(0)
# your code here


all_movies = df[['movie_title', 'director_name', 'imdb_score']]

index = all_movies['imdb_score'] > 8.3
good_movies = all_movies[index]

rand_int = random.randint(0, len(good_movies))
#print(rand_int)
rand_goodmovie = good_movies.iloc[rand_int,]

print(rand_goodmovie)

movie_title         The Pianist
director_name    Roman Polanski
imdb_score                  8.5
Name: 158, dtype: object

# Summarize Movie & Ratings Data

In [232]:
""" Q1: 
Get the summary statistics for imdb_score and gross, then use the describe() function to summarize this visually. Save the
result in a variable called score_gross_description and print it.
"""
# your code here

score_gross_description = df[['imdb_score','gross']].describe()
print(score_gross_description)

       imdb_score         gross
count  178.000000  1.780000e+02
mean     8.294382  1.030402e+08
std      0.266960  1.242549e+08
min      8.000000  8.060000e+03
25%      8.100000  1.318510e+07
50%      8.200000  5.194371e+07
75%      8.475000  1.522436e+08
max      9.300000  6.232795e+08

In [233]:
"""Q2:
What is the average rating of the director Christopher Nolan's movies? Save this value in a variable called nolan_mean and 
print.
"""

# your code here

index = df['director_name'] == 'Christopher Nolan'
nolan = df[index]
nolan_mean = sum(nolan['imdb_score'])/len(nolan)
print(nolan_mean)

8.6

In [234]:
"""Q3: 
Create a series called 'directors' that contains each director's name and his or her average rating.  Print out the type of your variable.
Use the 'directors' series to find the average rating for Steven Spielberg.  Print the value.
"""

# your code here

group = df.groupby('director_name')
directors = group['imdb_score'].mean()
print(type(directors))

print(directors['Steven Spielberg'])

<class 'pandas.core.series.Series'>
8.48

In [235]:
"""Q4:
Select the non-USA (country_id=1) movies and movies made after 1960 by Hayao Miyazaki (director_id=46).
What are the years returned? Save them in a series called 'miyazaki', then print it.
"""

# your code here
non_us_index = df['country_id'] != 1
non_us = df[non_us_index]
after_1960_index = non_us['title_year'] >= 1960
non_us_after_1960 = non_us[after_1960_index]
miyazaki_index = non_us_after_1960['director_name'] == 'Hayao Miyazaki'
miyazaki_df = non_us_after_1960[miyazaki_index]
miyazaki = miyazaki_df['title_year']
print(type(miyazaki))
print(miyazaki)

<class 'pandas.core.series.Series'>
134    2001
135    1997
136    2004
Name: title_year, dtype: int64

In [236]:
"""Q5: 
Create a Pivot Table that shows the median rating for each director, grouped by their respective countries. Name your variable
'pivot_agg'
"""
import numpy as np
# your code here
pivot_agg = pd.pivot_table(df,index = ['country', 'director_name'],
                          values = ['imdb_score'],
                          aggfunc = [np.median])
print(pivot_agg)

                                      median
                                  imdb_score
country      director_name
Argentina    Juan Jose Campanella       8.20
Australia    George Miller              8.10
Brazil       Fernando Meirelles         8.70
             Jose Padilha               8.10
Canada       Denis Villeneuve           8.20
...                                      ...
USA          Tony Scott                 8.00
             Victor Fleming             8.15
             Wes Anderson               8.10
             Woody Allen                8.10
West Germany Wolfgang Petersen          8.40

[125 rows x 1 columns]

In [237]:
"""Q6:
How long did the movie Gladiator aim to keep your attention? Save the series with this information
in a variable called 'gladiator_duration', then print it.
"""

# your code here

gladiator_df = df[df['movie_title'] == 'Gladiator']
gladiator = gladiator_df['duration']
print(gladiator)

51    171
Name: duration, dtype: int64